@model List<AppRole>
@{
    Layout = "_Layout";
}
<a asp-action="Create" asp-controller="Roles" class="d-inline-block my-2">Add A New Role</a>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Created Time</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.CreatedTime</td>
            </tr>
        }

    </tbody>
</table>